@{
    ViewBag.Title = "All Bookings";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>

    <div class="jumbotron">

        <table class="table" style="position:absolute; left:20px; padding-right:50px">
            <tr>
                <th>Booking Id</th>
                <th>Booking date</th>
                <th>Email</th>
                <th>Route</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>1</td>
                <td>@DateTime.Now.Date</td>
                <td>test@test.com</td>
                <td>Tunis -> Darfur</td>
                <td>100 USD</td>
            </tr>
        </table>

    </div>

    <br />
    <div class="col-md-4">
        <a class="btn btn-default" href="https://app.powerbi.com/groups/me/reports/52e292f9-813f-40ca-a076-3c2d5e3fb12a/ReportSection3f3ec593ce92c804d8c6">Money stuff!!</a>
    </div>
    <br />

</body>
</html>