@{
    ViewBag.Title = "Route Calculator";
}

<h1>Welcome to Oceanic Airlines' Route Calculator</h1>
<br />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            Choose Pickup:
            <select name="airport">
                <option value="">Select city</option>
                <option value="1">Ankara</option>
                <option value="2">Addis Abeba</option>
                <option value="3">Darfur</option>
            </select>
            <br />
        </div>

        <div class="col-md-4">
            Choose Destination:
            <select name="airport">
                <option value="">Select city</option>
                <option value="1">Ankara</option>
                <option value="2">Addis Abeba</option>
                <option value="3">Darfur</option>
            </select>
            <br />
        </div>

        <div class="col-md-4">
            <a class="btn btn-default" href="https://www.google.com/search?q=calculator&rlz=1C1GCEU_daDK843DK843&oq=calculator&aqs=chrome..69i57j0l5j69i61j69i60.3638j0j4&sourceid=chrome&ie=UTF-8">Calculate Route</a>
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-4">
            Set Weight:
            <form method="post">
                <input type="text" name="weight" value="" /> kg
                @*<input type="submit" value="Select" >*@
            </form>
            <br />
        </div>

        <div class="col-md-4">
            Choose Package type:
            <select name="packageType">
                <option value="">Package type</option>
                <option value="1">Standard</option>
                <option value="2">Weapons</option>
                <option value="3">Live Animals</option>
                <option value="4">Fragile</option>
                <option value="5">Frozen</option>
                <option value="6">Recommended</option>
            </select>
            <br />
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            Set Height:
            <form method="post">
                <input type="text" id="height" name="height" value="" /> cm
            </form>
            <br />
        </div>

        <div class="col-md-4">
            Set Width:
            <form method="post">
                <input type="text" id="width" name="width" value="" /> cm
            </form>
            <br />
        </div>

        <div class="col-md-4">
            Set Depth:
            <form method="post">
                <input type="text" id="depth" name="depth" value="" /> cm
            </form>
            <br />
        </div>

    </div>

</div>

@*<form method="post">
    <input type="text" id="EmailAddress" name="EmailAddress" value="" />
</form>*@
